node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
