$dark: #1e1e1e;

@import "design/style.scss";

html:not([data-theme="dark"]) {
  --kt-page-bg: #eaecf3;
  --kt-aside-bg-color: #1e1e1e;
}

body {
  flex-direction: row;
}

nav {
  background-color: var(--kt-aside-bg-color);
}

main {
  @include media-breakpoint-down(md) {
    margin-bottom: 70px;
  }
}
