$dark: #1e1e1e;

@import "design/style.scss";

html:not([data-theme="dark"]) {
  --kt-page-bg: #eaecf3;
  --kt-aside-bg-color: #1e1e1e;
}

nav {
  background-color: var(--kt-aside-bg-color);
  width: 100px;
  height: 100%;
  position: fixed;
}

main {
  @include media-breakpoint-up(md) {
    margin-left: 100px;
  }
}
